label{
    margin: 2%;
}

input{
    border-radius: 20px;
}
.content{
    justify-content: center;
    margin: 5%;
}

.form-group{
    justify-content: space-between;
    margin: 2%;
}

.btn{
    border-radius: 20px;
    background-color: aquamarine;
    color: black;
    margin-left: 2%;
}

.mat-card {
    max-width: 400px; /* Ancho máximo de la tarjeta */
    height: auto; /* Altura automática */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Estilo de sombra */
    padding: 20px; /* Espacio interior del card */
    margin: 0 auto; /* Centra la tarjeta en el contenedor */
    margin-top: 100px;
  }

  