label{
    margin: 2%;
}

input{
    border-radius: 20px;
}
.content{
    justify-content: center;
    margin: 5%;
}

.form-group{
    justify-content: space-between;
    margin: 2%;
}

.btn{
    border-radius: 20px;
    background-color: aquamarine;
    color: black;
    margin-left: 2%;
}

.mat-card {
    max-width: 400px; 
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    margin: 0 auto;
    margin-top: 100px;
  }

  